.skillSectionBg {
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  color: 292828;
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('/images/skill-baggrund.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.skillSectionText {
  font-size: 2.5rem;
  margin: 0 auto;
  padding-top: 3vh;
  text-align: center;
  color: 292828;
}

.skillDescription {
  font-size: 2rem;
  text-align: center;
  color: 292828;
  padding-top: 2vh;
}

.vinylGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4vw 8vh;
  justify-items: center;
  align-items: center;
  width: 60vw;
  margin: 10vh auto 0 auto;
}

.vinylWrapper {
  position: relative;
  width: 16vw;
  height: 16vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vinyl1 {
  animation: move1 3s linear infinite;
}
.vinyl2 {
  animation: move2 3s linear infinite;
}
.vinyl3 {
  animation: move3 3s linear infinite;
}

@keyframes move1 {
  0% { transform: translate(3vw, -4vh); }
 100% { transform: translate(3vw, -4vh); }
}
@keyframes move2 {
  0% { transform: translate(0vw, 4vh); }
 100% { transform: translate(0vw, 4vh); }
}
@keyframes move3 {
  0% { transform: translate(16vw, -1vh); }
 100% { transform: translate(16vw, -1vh); }
}


/* Spin animation på hele wrapper */
.vinyl.spin1 { animation: spin1 3s linear infinite; }
.vinyl.spin2 { animation: spin2 3s linear infinite; }
.vinyl.spin3 { animation: spin3 3s linear infinite; }

.vinyl {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  position: relative;
  z-index: 1;
}

@keyframes spin1 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes spin2 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes spin3 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* SVG til streg */
.circleSvg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
}

/* Path til hover-progres */
.progressPath {
  fill: none;
  stroke: #d7baf0;
  stroke-width: 3;
  stroke-dasharray: 0 301.59; /* 301.59 = 2 * π * 48, start hidden */
  transition: stroke-dasharray 1s linear;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.vinyl1:hover .progressPath { stroke-dasharray: 180 301.59; }
.vinyl2:hover .progressPath { stroke-dasharray: 165 301.59; }
.vinyl3:hover .progressPath { stroke-dasharray: 145 301.59; }
